/*this makes the grid and thus the format*/
.box {  
    display: grid;
    grid-template-columns: 20px 90px 670px;
    grid-template-rows: auto;
    grid-template-areas:
       "a b c"; 
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.a, .b, .c{
    border: 1px solid black;
}