/*this makes the grid and thus the format*/
.grid {  
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 1fr 20fr 110fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas:
       ". h h ."
       ". n n ."
       ". s m ."
       "f f f f"; 
}

.header {
    grid-area: h;
    place-self: center;
}

.nav {
    grid-area: n;
}

.side {
    grid-area: s;
    background-color: #CDCECC;
}

.main {
    grid-area: m;
    background-color: #CDCECC;
}

.footer {
    grid-area: f;
    color: white;
    background-color: black;
    text-align: center;
    
}

.nav, .side, .main{
    border: 0px solid black;
    border-radius: 15px;
    padding: 13px;
}